//= require normalize-css/normalize
//= require awesomplete/awesomplete

@import bourbon
@import neat

// Bitters import
@import base/base

// Partials import
@import partials/fonts
@import partials/settings
@import partials/mixins

html
  font-size: 16px
body
  +default-font
  min-width: 64rem
  margin: auto
  color: $black
  &.dark
    background-color: $dark-grey
    header.main
      background-color: $dark-grey
      .menu a
        color: $white !important
  &.faded
    overflow: hidden
h1, h2, h3, h4, h5
  font-family: VeganSans
header.main
  +display(flex)
  +flex-direction(row)
  z-index: 10
  position: relative
  background-color: $white
  &.faded
    opacity: 0.25
  *
    font-family: VeganSans
  padding: 1rem 2rem 0
  .menu
    +flex(3)
    h1
      z-index: 10
      +bigger-font
      display: inline-block
      a
        color: $black
        &:hover
          color: $black
    .open-menu
      +invisible
    nav
      +transform(translateX(-2rem))
      +transition-property(transform, opacity)
      +transition-duration(125ms)
      z-index: 1
      opacity: 0
      display: inline-block
      &.visible
        +transform(translateX(0rem))
        opacity: 1
      a
        +pad(0 $tiny-spacer)
        color: $black
        &:first-child
          +pad(0 $tiny-spacer 0 $small-spacer)

        &:hover
          color: $black
        &.mobile
          +invisible
  #wished
    +flex(5)
    +align-self(flex-start)
    text-align: right
    span
      +wished
      background-color: $blue
      text-align: center
      &.empty
        background-color: rgba(0, 0, 0, 0)

main
  position: relative
  z-index: 1
  &.faded
    opacity: 0.25
  .slide
    z-index: 1
    position: relative
    +transform(translateY(-450rem))
    +transition-property(transform)
    +transition-duration($long-delay)
    +transition-timing-function(ease-in-out)
    +invisible
    &.visible
      +transform(translateX(0))
  section
    +row
    svg
      +span-columns(12)
      margin: auto
    &.fonts
      overflow: hidden
      opacity: 0
      +transition-property(opacity)
      +transition-duration(750ms)
      +font-weights
      nav
        h2.mobile
          +invisible
        padding: 0 2rem
        & > .font
          +row
          padding: 0 0 0.5rem 0
          border-top: thin solid $grey
          .tools
            .wished
              span.wish
                +transform(translateY(5rem))
          h3 a
            display: block
            overflow: hidden
            width: 1000rem
          .styles h4
            display: block
            overflow: hidden
            width: 1000rem
        .tools
          +row
          +default-font
          padding-bottom: 0.5rem
          .apperance
            +span-columns(4)
            span
              display: inline-block
              padding: 0.5rem 0.25rem
              font-family: VeganSans
              cursor: pointer
              +smaller-font
              &.list
                opacity: 0.5
              &.open
                opacity: 1
              &.name, &.size
                vertical-align: top
              &.name
                +transition-property(opacity)
                +transition-duration($medium-delay)
                opacity: 0
              &.visible
                opacity: 1
          .wished
            +shift(6)
            +span-columns(2)
            +omega
            text-align: right
            span.wish
              +wished
              +transform(translateY($small-spacer))
              border: solid thin $blue
              &:hover
                background-color: $blue
              &.pushed
                background-color: $blue
        h3
          +span-columns(12)
          +huge-font
          font-weight: normal
          padding: 1.5rem 0
          font-style: normal
          margin: 0
          a
            color: $black
          input
            border: none
            box-shadow: none
            padding: 0
            margin: 0
        .styles
          +row
          h4
            +span-columns(12)
            +larger-font
            padding: 1.5rem 0
            margin: 0
            border-top: thin solid $grey
            a
              color: $black
          .style
            +row
            border-bottom: thin solid $grey
            +transition-property(opacity)
            +transition-duration($medium-delay)
            opacity: 1
            &.faded
              opacity: 0.25
            h4
              border-top: none
              padding: 0.25rem 0 1.5rem
            .tools
              padding: 0.25rem 0
            .wish-box
              clear: both
              display: none
              +smaller-font
              &.visible
                +display(flex)
                +flex-direction(row)
                +align-items(flex-end)
              *
                font-family: VeganSans
              & > div
                +transition-property(transform)
                +transition-duration($small-delay)
                +transform-origin(bottom)
                +transform(scaleY(0))
                margin: $half-tiny-spacer
                padding: $tiny-spacer
                border-radius: $tiny-spacer
                width: 23%
                cursor: pointer
                &:hover
                  .description
                    opacity: 1
                &.visible
                  +transform(scaleY(1))
                  +transition-duration($medium-delay)
                  h5
                    opacity: 1
                h5
                  +bigger-font
                  float: left
                  width: 61%
                  margin: 0 0 $tiny-spacer
                  opacity: 0
                .price
                  +smaller-font
                  float: left
                  width: 39%
                  margin: $quarter-tiny-spacer 0
                  background-color: $white
                  text-align: center
                  border-radius: $tiny-spacer
                  padding: $quarter-tiny-spacer $half-tiny-spacer
                h6
                  clear: both
                  +smaller-font
                p
                  clear: both
                &.demo
                  background-color: $lighter-grey
                  h5
                    margin: 0
                    font-style: italic
                    font-weight: 300
                    width: 74%
                  .price
                    width: 26%
                    margin: 0.3rem 0 0.25rem 0
                &.basic
                  background-color: $blue
                  h5
                    font-weight: normal
                &.premium
                  background-color: $blue
                  .description
                    margin-bottom: 2rem
                &.superior
                  background-color: $dark-blue
                  color: $white
                  h5
                    font-weight: 900
                    width: 71%
                  .price
                    width: 29%
                    color: $black
                  .description
                    margin-bottom: 9rem
                .description
                  +transition-property(opacity)
                  +transition-duration($small-delay)
                  opacity: 0
              a.help
                +button-pad
                +black-hover
                +smaller-font
                margin: $half-tiny-spacer
                border: thin solid $black
                border-radius: 1rem
                color: $black
      &#styles
        .vegan-sans, .kunda-book, .hrot
          input[type=text]
            +font-weights
            border: none
            box-shadow: none
            margin-bottom: 0
            +larger-font
            padding: 0
            +placeholder
              color: $black
        .vegan-sans
          input[type=text]
            font-family: VeganSans
        .kunda-book
          input[type=text]
            font-family: KundaBook
        .hrot
          input[type=text]
            font-family: Hrot
    &.with-bumper
      padding-top: 7.5rem
    &.foundry
      +row
      *
        font-family: VeganSans
      header
        +row
        h2
          +shift
          +span-columns(6)
          +larger-font
          font-weight: normal
          margin-top: $default-spacer
      .about-address
        +row
        background-color: $light-green
        .text
          +shift
          +span-columns(5)
          padding: $default-spacer 0
          p
            +bigger-font
        .contact
          +span-columns(6)
          +omega
          overflow: hidden
          address
            +shift(1)
            +span-columns(5 of 6)
            +default-pad
            +transform(translateX(50rem))
            +transition-property(transform)
            +transition-duration($medium-delay)
            +big-font
            font-style: normal
            background-color: $grey
            margin-top: $default-spacer
            margin-bottom: $tiny-spacer
            border-radius: $small-spacer
            a
              +default-font
              border-radius: $default-size
            &.visible
              +transform(translateX(0rem))
            .email
              a
                +high-button-pad
                +white-hover
                color: $white
                background-color: $dark-grey
                font-weight: normal
            .social
              margin-top: $default-size
              line-height: 1
              a
                +high-button-pad
                border: none
                margin: $smaller-size $default-size 0 0
                color: $white
                text-align: center
                text-decoration: none
                &.facebook
                  +white-hover
                  background-color: #0060ff
                &.twitter
                  +white-hover
                  background-color: #00beff
                &.instagram
                  +white-hover
                  background-color: #a04aff
        .lost
          +span-columns(10)
          +shift
          p
            +span-columns(5 of 10)
            +omega
            +big-font
          .fonts
            +span-columns(10 of 10)
            span
              +pad(0 $default-spacer 0 0)
              display: inline-block
              line-height: 1.5
              a
                font-size: 6vw
                color: $white
                padding: 0 $tiny-spacer 0 0
                &:hover
                  color: $black
      .people
        +row
        background-color: $light-green
        .person
          +span-columns(6)
          +omega(2)
          margin-top: $default-spacer
          padding: $small-spacer
          .photo
            img
              border-radius: 50%
            p
              +bigger-font
      .studio
        +span-columns(8)
        +shift(2)
        h3
          display: none
        img
          border: none
          border-radius: 2rem
          padding: 0
          margin: 0 0 -1vh 0
          width: 100%
    &.custom
      +row
      font-family: VeganSans
      h2
        +span-columns(10)
        +shift
        +large-font
        font-weight: normal
        margin-top: $default-spacer
        color: $violet
      .text
        +shift
        +span-columns(5)
        p
          +bigger-font
          span.email
            a
              +high-button-pad
              +white-hover
              color: $white
              border-radius: 1rem
              background-color: $black
              +default-font
              font-weight: normal

      ul.advantages
        +span-columns(4)
        +shift
        li
          margin-bottom: $small-spacer
          &:before
            content: "• "
            +bigger-font
          &.red:before
            color: $red
          &.yellow:before
            color: $yellow
      .cases
        +shift(1)
        +span-columns(11)
        padding: $default-spacer 0
        h3
          font-size: 15vw
          font-weight: bold
          margin: $default-spacer 0
    &.font-header
      position: relative
      z-index: 10
      font-family: VeganSans
      padding: 0 2rem
      background-color: $white
      box-shadow: rgba(0, 0, 0, 0.2) 0px $eighth-tiny-spacer $tiny-spacer 0px
      &.fixed
        position: fixed
        top: 0
        z-index: 10
        width: 100%
        header
          h2
            +big-font
            a
              img
                width: 0.75rem
          .sections, .wished
            margin-bottom: $half-tiny-spacer
      header
        +display(flex)
        +flex-direction(row)
        padding: $small-spacer 0 $default-spacer
        &.fixed
          padding: $tiny-spacer 0 $tiny-spacer
        h2
          +flex(2)
          +order(1)
          +align-self(flex-end)
          +transition-property(font-size)
          +transition-duration($small-delay)
          +large-font
          display: inline-block
          font-weight: normal
          margin: 0
          &.hrot
            font-family: Hrot
          &.kunda-book
            font-family: KundaBook
          &.vegan-sans
            font-family: VeganSans
          a
            font-weight: 100
            color: $black
            img
              +transition-property(width)
              +transition-duration($small-delay)
            &.next
              padding: 0 2rem 0 0
            &.previous
              padding: 0 1rem 0 2rem
        nav
          +flex(3 1)
          +order(2)
          +align-self(flex-end)
          display: inline-block
          margin-bottom: $tiny-spacer
          a
            margin-top: $small-spacer
            padding: 0.5rem 1rem
            color: $black
            text-align: center
            &.active
              color: $black
              font-weight: bold
              background-color: $grey
              border-radius: $small-spacer
        .wished
          +flex(1)
          +order(3)
          +align-self(flex-end)
          text-align: right
          margin-bottom: $tiny-spacer
          span.wish
            +wished
            border: solid thin $blue
            &:hover
              background-color: $blue
            &.pushed
              +transform(translateY(-$small-spacer))
              +transition-property(transform, opacity)
              +transition-duration($medium-delay)
              opacity: 0
    &#details
      font-family: VeganSans
      +row
      margin: $default-spacer 0 0
      h2.mobile
        +invisible
      .description
        +span-columns(9)
        p.text
          padding: 0 2rem
          +bigger-font
      div
        h4
          +pad($small-spacer 0)
          +default-font
          font-weight: normal
        &.features
          +span-columns(3)
          +omega
          +pad(0 $tiny-spacer 0 $big-spacer)
    &#opentype
      +row
      margin-top: $small-spacer
      padding: $small-spacer
      background-color: $grey
      img
        +span-columns(12)
    &#inuse
      figure
        +row
        +pad($huge-spacer 0 $huge-spacer)
        +invisible
        width: 100vw
        position: absolute
        background-color: $black
        +transition-property(opacity)
        +transition-duration($medium-delay)
        &:first-child
          +visible-block
        & > img
          margin-left: 17.05961%
          width: 65.88078%
          border-radius: 1rem
        nav
          margin-left: 17.05961%
          width: 65.88078%
          +transition-property(opacity)
          +transition-duration($small-delay)
          position: absolute
          top: 45%
          opacity: 0
          a
            +span-columns(4 of 8)
            &.next
              text-align: right
            img
              width: 2rem
        figcaption
          +transition-property(opacity)
          +transition-duration($small-delay)
          +pad(0 0 0 $small-spacer)
          margin-left: 17.05961%
          position: absolute
          top: 69%
          opacity: 0
          ul
            +pad($tiny-spacer)
            color: $black
            border-radius: $tiny-spacer
            background-color: $white
            li:first-child
              font-weight: bold
      &.hrot-hack
        figure
          figcaption
            top: 65%
    &#glyphs
      +font-weights
      +pad($default-spacer $small-spacer)
      select
        +appearance(none)
        +button-pad
        border-radius: 1rem
        background: $white
      img
        +invisible
        &.visible
          +pad($default-spacer 0)
          display: block
          width: 100%
section.wished-box
  +transition-property(max-height)
  +transition-duration($medium-delay)
  +transform-origin(top)
  box-shadow: rgba(0, 0, 0, 0.4) 0px $eighth-tiny-spacer $tiny-spacer 0px
  max-height: 0
  opacity: 1
  overflow: scroll
  background-color: $light-blue
  font-family: VeganSans
  &.visible
    max-height: 200rem
    &.checking-out
      background-color: $light-yellow
      height: 100vh
  header
    +display(flex)
    +justify-content(space-between)
    +small-pad
    opacity: 1
    h2
      +order(1)
      +flex(5)
      +align-self(flex-end)
      +big-font
      font-weight: 600
      margin-bottom: 0
      text-align: left
      display: inline-block
    .close
      +order(2)
      +flex(1)
      +align-self(flex-start)
      text-align: right
      a
        +button($grey, $white)
  table.items
    +margin($tiny-spacer $small-spacer)
    width: calc(100% - #{$bigger-spacer})
    +smaller-font
    thead
      border: none
      tr
        border: none
        th
          +button-pad
          border-bottom: $thin-border
          text-align: center
          &:last-child
            padding-right: 0
          &.price
            text-align: right
            padding-right: 0
          &.remove-all
            text-align: right
            a
              +grey-hover
              +button-pad
              color: $black
            &.hidden
              opacity: 0
    tr
      &.prototype
        display: none
      height: $default-spacer
      border: none
      td
        border-bottom: $thin-border
        text-align: center
        &.name
          +default-font
          text-align: left
          font-weight: bold
          width: 50vw
        &.package, &.license, &.users
        &.price
          width: 13vw
          text-align: right
        &.remove-wrap
          text-align: right
          .remover,
            +grey-hover
            +button-pad
            text-align: center
            color: $black
      &.total
        td
          border: none
          &.price
            text-align: right
            font-weight: 900
            border-bottom: $thin-border
            span.amount
              +display(inline-block)
              padding-left: $huge-spacer
          &.checkout
            text-align: right
            border-bottom: $thin-border
            input
              +button-pad
              +background($white)
              +hover($black, $light-yellow)
              border-radius: 1rem
              color: $black
              font-family: VeganSans
        #back
          display: none
          &.visible
            +button($light-blue, $white)
            display: inline-block

  form#wish-list
    +span-columns(12)
    +transition-property(width)
    +transition-duration($medium-delay)
    select
      +arrow-select
    & *
      font-family: VeganSans
    &.filled
      +span-columns(6)
      td.name
        +smaller-font
  form#checkout
    +display(none)
    select
      +arrow-select
    & *
      font-family: VeganSans
    &.active
      +display(block)
      +span-columns(6)
      +omega
    .column
      +shift
      +span-columns(2 of 6)
      +omega(2)
      label
        input
          border-radius: $half-tiny-spacer
          border: none
          box-shadow: none
      hr
        border: none
        margin: $default-spacer
    .pay-box
      +span-columns(5 of 6)
      .eula
        input
          &[type='checkbox']
            +appearance(none)
            padding: $half-tiny-spacer
            background: url('/assets/images/check-unchecked.svg') no-repeat center
            &:checked
              background: url('/assets/images/check-checked.svg') no-repeat center
          &.pay
            +button($orange, $white)
            margin: 0 $default-spacer

@import partials/responsive
