//= require normalize-css/normalize
//= require awesomplete/awesomplete

@import "bourbon";
@import "neat";

// Bitters import
@import "base/base";

// Partials import
@import "_partials/fonts";
@import "_partials/settings";

@mixin cart {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-family: VeganSans;
  cursor: pointer;
  background-color: $blue;
  border-radius: 0.25rem;
  color: $red;
}

@mixin font-weights {
  .light { font-weight: 300 }

  .regular { font-weight: normal }

  .medium { font-weight: 500 }

  .bold { font-weight: bold }

  .semibold { font-weight: 600 }

  .italic { font-style: italic }

  .black { font-weight: 800 }
}




body {
  min-width: 64rem;
  margin: auto;

  &.dark {
    background-color: $darkgrey;
  }
}

header.main {
  * {
    font-family: VeganSans;
  }

  @include row;
  margin-top: 1rem;
  padding: 0 2rem;

  h1 {
    @include span-columns(3);
    z-index: 10;

    a {
      font-size: modular-scale(1, 1rem);
      display: block;
      color: $black;

      &:hover {
        color: $black;
      }
    }
  }

  nav {
    @include span-columns(3);
    @include transform(translateX(-130px));
    @include transition-property(transform, opacity);
    @include transition-duration(500ms);
    opacity: 0;

    &.visible {
      @include transform(translateX(0px));
      opacity: 1;
    }

    a {
      @include span-columns(1 of 3);
      color: $black;

      &:hover {
        color: $black;
      }
    }
  }

  #cart {
    @include span-columns(2);
    @include shift(4);
    text-align: right;

    span {
      @include cart;
    }
  }
}

main {
  section {
    @include row;

    svg {
      @include span-columns(12);
      height: 60rem;
      margin: auto;
    }

    &.fonts {
      opacity: 0;
      @include transition-property(opacity);
      @include transition-duration(750ms);

      @include font-weights;

      nav {
        padding: 0 2rem;

        & > .font {
          @include row;
          padding: 0 0 0.5rem 0;
          border-top: 1px solid $grey;
          .tools {
            .cart {
              span.buy {
                @include transform(translateY(6rem));
              }
            }
          }
        }

        .tools {
          @include row;
          font-size: 1rem;
          padding-bottom: 0.5rem;

          .apperance {
            @include span-columns(2);

            span {
              display: inline-block;
              padding: 0.5rem;
              font-family: VeganSans;
              cursor: pointer;


              &.minus {
                font-size: 0.875rem;
              }

              &.plus {
                font-size: 1.125rem;
              }
            }

          }

          .cart {
            @include shift(9);
            @include span-columns(1);
            @include omega;
            text-align: right;

            span.buy {
              @include cart;
              @include transform(translateY(4rem));
            }
          }
        }

        h3 {
          @include span-columns(12);
          font-size: 4rem;
          font-weight: normal;
          padding: 1.5rem 0;
          font-style: normal;
          margin: 0;

          a {
            color: black;
          }

          input {
            border: none;
            box-shadow: none;
            padding: 0;
            margin: 0;
          }
        }

        .styles {
          @include transform(translateX(-500px));
          @include transition-property(transform, opacity);
          @include transition-duration(750ms);
          @include row;
          opacity: 0;
          display: none;

          &.visible {
            opacity: 1;
            display: block;
            @include transform(translateX(0px));
          }

          h4 {
            @include span-columns(12);
            font-size: 2rem;
            padding: 1.5rem 0;
            margin: 0;
            border-top: 1px solid $grey;
          }

          .style {
            @include row;

            h4 {
              border-top: none;
              border-bottom: 1px solid $grey;
              padding: 0.25rem 0 1.5rem;
            }

            .tools {
              padding: 0.25rem 0;
            }
          }
        }
      }

      &#styles {
        .vegan-sans {
          input[type=text] {
            @include font-weights;

            font-family: VeganSans;
            border: none;
            box-shadow: none;
            margin-bottom: 0;
            font-size: 2rem;

            @include placeholder {
              color: $black;
            }

          }
        }
      }
    }

    &#glyphs {
      font-family: VeganSans;
    }

    &.foundry {
      @include span-columns(12);
      * {
        font-family: VeganSans;
      }

      h2 {
        padding: 0 2rem;
        font-size: 1.5rem;
        font-weight: normal;
        @include shift(2);
        @include span-columns(5);
        margin-top: 3rem;
      }

      address {
        @include span-columns(4);
        @include omega;
        @include transform(translateY(-180px));
        font-style: normal;
        font-size: 1.25rem;
        padding: 3rem;
        background-color: $grey;
        border-radius: 3rem;


      }

      .light-green {
        background-color: #00FFA0;
        @include span-columns(12 of 12);
      }

      .text {
        @include span-columns(6 of 12);
        @include shift;
        padding: 3rem 0;

        p {
          padding: 0 2rem;
        }
      }

      .people {
        @include row;

        .person {
          @include span-columns(4 of 12);
          margin-top: 3rem;

          .photo {
            @include shift(3);
            @include span-columns(2 of 4);
            padding: 0 0 3rem 0;
            img {
              border-radius: 50%;
            }
          }

          p {
            @include shift(1);
            @include span-columns(2 of 4);
          }
        }
      }

      .nonstop {
        @include shift(1);
        @include span-columns(6 of 12);
        margin-top: 3rem;
        background-color: $yellow;
        border-radius: 2rem;
        padding: 3rem 0;

        h3 {
          @include span-columns(6 of 6);
          font-size: 6rem;
          text-align: center;
          @include transform(rotate(-30deg));
        }
      }
    }

    &.custom {
      @include span-columns(12);
      font-family: VeganSans;

      h2 {
        @include span-columns(7);
        padding: 0 3rem;
        font-size: 3rem;
        font-weight: normal;
        margin-top: 3rem;
      }

      .text {
        p {
          @include shift(3);
          @include span-columns(5);
        }
      }

      .cases {
        @include shift(3);
        @include span-columns(5);
        padding: 3rem 0;

        h3 {
          font-size: 5rem;
          margin: 3rem 0;
        }

        .highlite {
          color: $white;
          h3 {
            font-size: 8rem;
          }
        }
      }
    }

    &.font-header {
      font-family: VeganSans;
      padding: 0 2rem;
      background-color: $white;

      &.fixed {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
      }

      header {
        border-bottom: thin solid lighten($black, 50);
        padding: 3rem 0 2rem;
        @include row;

        &.fixed {
          padding: 1rem 0 1rem;
        }

        h2 {
          font-family: VeganSans;
          @include span-columns(5);
          font-size: 3rem;
          font-weight: normal;
          margin: 1rem 0;
          a {
            font-weight: 100;
            color: $black;

            &.next {
              padding: 0 2rem 0 0;
            }

            &.previous {
              padding: 0 1rem 0 2rem;
            }
          }

        }

        nav {
          a {
            @include span-columns(1);
            padding-top: 3rem;
            color: $black;
            text-align: center;

          }
        }
      }
    }

    &.about {
      margin: 3rem 0;
      p.text {
        @include span-columns(9);
        padding: 0 2rem;
        font-size: 1.5rem;
      }

      p.features {
        @include span-columns(3);
      }
    }

    &#glyphs {
      padding: 3rem 2rem;

      table {
        border: none;
        td {
          border: none;
          text-align: center;
          font-size: 4rem;
        }
      }
    }

  }

}

// $ipad-portrait: new-breakpoint(max-width 769px 4);
// $iphone-landscape: new-breakpoint(max-width 480px 4);

// @include media($ipad-portrait) {
//   body {
//     font-size: modular-scale(-2, 1rem);
//     min-width: 60rem;
//   }

//   header {
//     nav {
//       opacity: 1;
//       @include transform(translateX(0px));
//     }
//   }
// }

