//= require normalize-css/normalize
//= require awesomplete/awesomplete

@import bourbon
@import neat

// Bitters import
@import base/base

// Partials import
@import partials/fonts
@import partials/settings
@import partials/mixins


html
  font-size: 16px
body
  font-size: 1rem
  min-width: 64rem
  margin: auto
  color: $black
  &.dark
    background-color: $dark-grey
  &.faded
    overflow: hidden
h1, h2, h3, h4, h5
  font-family: VeganSans


header.main
  +display(flex)
  +flex-direction(row)
  &.faded
    opacity: 0.25
  *
    font-family: VeganSans
  margin-top: 1rem
  padding: 0 2rem
  .menu
    +flex(1)
    h1
      z-index: 10
      font-size: modular-scale(1, 1rem)
      display: inline-block
      a
        color: $black
        &:hover
          color: $black
    nav
      +transform(translateX(-2rem))
      +transition-property(transform, opacity)
      +transition-duration(125ms)
      z-index: 1
      opacity: 0
      display: inline-block
      &.visible
        +transform(translateX(0rem))
        opacity: 1
      a
        +pad(0 $tiny-spacer)
        color: $black
        &:first-child
          +pad(0 $tiny-spacer 0 $small-spacer)

        &:hover
          color: $black
  #wished
    +flex(2)
    +align-self(flex-start)
    text-align: right
    span
      +wished
      background-color: $blue
      text-align: center
      &.empty
        background-color: $white

main
  &.faded
    opacity: 0.25
  section
    +row
    svg
      +span-columns(12)
      margin: auto
    &.fonts
      overflow: hidden
      opacity: 0
      +transition-property(opacity)
      +transition-duration(750ms)
      +font-weights
      nav
        padding: 0 2rem
        & > .font
          +row
          padding: 0 0 0.5rem 0
          border-top: thin solid $grey
          .tools
            .wished
              span.wish
                +transform(translateY(5rem))
          h3 a
            display: block
            overflow: hidden
            width: 1000rem
          .styles h4
            display: block
            overflow: hidden
            width: 1000rem
        .tools
          +row
          font-size: 1rem
          padding-bottom: 0.5rem
          .apperance
            +span-columns(4)
            span
              display: inline-block
              padding: 0.5rem 0.25rem
              font-family: VeganSans
              cursor: pointer
              font-size: modular-scale(-1, 1rem)
              &.list
                opacity: 0.5
              &.open
                opacity: 1
              &.name, &.size
                vertical-align: top
              &.name
                +transition-property(opacity)
                +transition-duration($medium-delay)
                opacity: 0
              &.visible
                opacity: 1
          .wished
            +shift(7)
            +span-columns(1)
            +omega
            text-align: right
            span.wish
              +wished
              +transform(translateY($small-spacer))
              border: solid thin $blue
              &:hover
                background-color: $blue
              &.pushed
                +transform(translateY(-$small-spacer))
                +transition-property(transform, opacity)
                +transition-duration($medium-delay)
                opacity: 0
        h3
          +span-columns(12)
          font-size: 4rem
          font-weight: normal
          padding: 1.5rem 0
          font-style: normal
          margin: 0
          a
            color: $black
          input
            border: none
            box-shadow: none
            padding: 0
            margin: 0
        .styles
          +transform(translateX(-50rem))
          +transition-property(transform, opacity)
          +transition-duration($medium-delay)
          +row
          opacity: 0
          display: none
          &.visible
            opacity: 1
            +transform(translateX(0))
          h4
            +span-columns(12)
            font-size: 2rem
            padding: 1.5rem 0
            margin: 0
            border-top: thin solid $grey
          .style
            +row
            h4
              border-top: none
              border-bottom: thin solid $grey
              padding: 0.25rem 0 1.5rem
            .tools
              padding: 0.25rem 0
      &#styles
        .vegan-sans, .kunda-book, .hrot
          input[type=text]
            +font-weights
            border: none
            box-shadow: none
            margin-bottom: 0
            font-size: 2rem
            padding: 0
            +placeholder
              color: $black
        .vegan-sans
          input[type=text]
            font-family: VeganSans
        .kunda-book
          input[type=text]
            font-family: KundaBook
        .hrot
          input[type=text]
            font-family: Hrot
    &.with-bumper
      padding-top: 7.5rem
    &.foundry
      +row
      *
        font-family: VeganSans
      header
        +row
        h2
          +shift(1)
          +span-columns(5)
          padding: 0 2rem
          font-size: $big-size
          font-weight: normal
          margin-top: $default-spacer
      .about-address
        background-color: $light-green
        +row
        .contact-lost
          +span-columns(6)
          +omega
          address
            font-style: normal
            font-size: $bigger-size
            margin: $default-spacer $default-spacer
            padding: $small-spacer
            background-color: $grey
            border-radius: $small-spacer
            a
              color: $black
            .social
              padding-top: 1rem
              a
                border-radius: 1rem
                border: none
                padding: 0.25rem $tiny-spacer
                margin: 0 0.5rem 0 0
                color: $white
                font-size: modular-scale(-1, 1rem)
                text-align: center
                &.facebook
                  background-color: #0060ff
                &.twitter
                  background-color: #00beff
                &.instagram
                  background-color: #a04aff
          .lost
            font-size: $bigger-size
            padding: 0 $default-spacer
        .text
          +span-columns(6 of 12)
          padding: $default-spacer 0
          p
            font-size: $bigger-size
            padding: 0 2rem
      .people
        +row
        background-color: $light-green
        .person
          +span-columns(6)
          +omega(2)
          margin-top: $default-spacer
          padding: $small-spacer
          .photo
            text-align: center
            img
              border-radius: 50%
          p
            font-size: $bigger-size
            text-align: center
            &:nth-child(2)
              padding-top: $default-spacer
      .studio
        +span-columns(12)
        padding: $small-spacer
        margin-bottom: $default-spacer
        &.hidden
          display: none
        img
          border-radius: 2rem
      .nonstop
        +span-columns(12)
        padding: $small-spacer
        display: none
        &.visible
          display: block
        .text
          background-color: $yellow
          border-radius: 2rem
          padding: 25vh 25vw
          height: 66vw
          h3
            +span-columns(10 of 12)
            font-size: 9rem
            text-align: center
            color: $red
            font-style: italic
            +transform(rotate(-15deg) translate(-1rem, 5rem))
    &.custom
      +span-columns(12)
      font-family: VeganSans
      h2
        +span-columns(7)
        padding: 0 $default-spacer
        font-size: $default-spacer
        font-weight: normal
        margin-top: $default-spacer
      .text
        p
          +shift(3)
          +span-columns(5)
      .cases
        +shift(3)
        +span-columns(5)
        padding: $default-spacer 0
        h3
          font-size: 5rem
          margin: $default-spacer 0
        .highlite
          color: $white
          h3
            font-size: 8rem
    &.font-header
      font-family: VeganSans
      padding: 0 2rem
      background-color: $white
      &.fixed
        position: fixed
        top: 0
        z-index: 10
        width: 100vw
      header
        +display(flex)
        +flex-direction(row)
        border-bottom: thin solid $grey
        padding: $default-spacer 0 2rem
        &.fixed
          padding: 1rem 0 1rem
        h2
          +flex(2)
          +order(1)
          +align-self(flex-end)
          display: inline-block
          font-size: $default-spacer
          font-weight: normal
          margin: 0
          &.hrot
            font-family: Hrot
          &.kunda-book
            font-family: KundaBook
          &.vegan-sans
            font-family: VeganSans
          a
            font-weight: 100
            color: $black
            &.next
              padding: 0 2rem 0 0
            &.previous
              padding: 0 1rem 0 2rem
        nav
          +flex(3)
          +order(2)
          +align-self(flex-end)
          display: inline-block
          margin-bottom: $tiny-spacer
          a
            margin-top: $small-spacer
            padding: 0.5rem 1rem
            color: $dark-grey
            text-align: center
            &.active
              color: $black
              font-weight: bold
              background-color: $grey
              border-radius: $small-spacer
        .wished
          +flex(1)
          +order(3)
          +align-self(flex-end)
          text-align: right
          margin-bottom: $tiny-spacer
          span.wish
            +wished
            border: solid thin $blue
            &:hover
              background-color: $blue
            &.pushed
              +transform(translateY(-$small-spacer))
              +transition-property(transform, opacity)
              +transition-duration($medium-delay)
              opacity: 0

    &.about
      font-family: VeganSans
      margin: $default-spacer 0
      .description
        +span-columns(9)
        p.text
          padding: 0 2rem
          font-size: 1.5rem
      div
        h4
          +pad($small-spacer 0)
          font-size: 1rem
          font-weight: normal
        &.features
          +span-columns(3)
          +omega
        &.opentype
          +span-columns(12)
          padding: 0 $small-spacer
          background-color: $grey
          img
            width: 100%
        &.inuse
          +span-columns(12)
          padding: 0 $small-spacer
          background-color: $black
          color: $white
          figure
            +pad($default-spacer)
            img
              border-radius: 1rem
    &#glyphs
      +font-weights
      padding: $default-spacer 2rem
      table
        border: none
        td
          +pad($huge-spacer $default-spacer)
          border: none
          text-align: center
          font-size: 4rem
section.wished-box
  +row
  position: absolute
  top: 0
  right: 0
  width: 80vw
  display: none
  opacity: 1
  overflow: scroll
  margin: 10vh 10vw
  background-color: $blue
  border-radius: 1.5rem
  border: none
  .close
    position: relative
    top: $tiny-spacer
    right: -$tiny-spacer
    text-align: center
    img
      width: $big-size
      height: $big-size
  header
    +span-columns(11)
    padding: $small-spacer 0 0
    opacity: 1
    h2
      +span-columns(3 of 11)
      +shift(1)
      font-size: 1.5rem
      padding: 0.5rem 0
      color: $white
      background-color: $black
      border-radius: 1.5rem
      text-align: center
    a
      +span-columns(2 of 11)
      +omega(3)
      text-align: center
      color: $black
      text-align: center
      +grey-hover
      &:nth-child(2)
        border-radius: 1rem
        border: thin solid $black
      &:nth-child(3)
        +shift(3)
  ul.items
    +span-columns(10)
    +shift(1)
    opacity: 1
    border-bottom: solid thin $black
    li
      height: $default-spacer
      border-top: solid thin $black
      padding-top: 0.75rem
      .name
        +span-columns(8 of 10)
      .remover,
        +span-columns(2 of 10)
        +omega
        +grey-hover
        text-align: center
        color: $black
  .faq
    +span-columns(10)
    +shift(1)
    display: none
    h3
      font-size: $bigger-size
    .column
      +span-columns(5 of 10)

  .contact-form
    +span-columns(10)
    +shift(1)
    padding: $default-spacer 0
    input
      +span-columns(3 of 10)
      +omega(3)
      border-radius: 1rem
      border: none
      box-shadow: none
      padding: 0.5rem 1rem
      &.check-offer
        +shift
        +span-columns(3 of 10)
        background-color: $white
        color: $black
  .message
    +span-columns(10)
    +shift(1)
    h2
      font-family: VeganSans
      font-size: modular-scale(2, 1rem)
      text-align: center
      padding: 3rem

$phone-portrait: new-breakpoint(max-width 320px 4)
$phone-landscape: new-breakpoint(max-width 480px 4)
$tablet-portrait: new-breakpoint(max-width 769px 4)
$big-desktop:  new-breakpoint(min-width 1340px 12)
$large-desktop:  new-breakpoint(min-width 1600px 12)

+media($large-desktop)
  html
    font-size: modular-scale(2, 16px)
  header.main
    nav
      +transform(translateX(-26rem))
  section
    &.wished-box
      width: 60vw
      margin: 10vh 20vw
+media($big-desktop)
  html
    font-size: modular-scale(1, 16px)
  header.main
    nav
      +transform(translateX(-18rem))
  section
    &.wished-box
      width: 70vw
      margin: 10vh 15vw
+media($tablet-portrait)
  html
    font-size: modular-scale(-1, 16px)
  body
    min-width: 53rem
  header
    nav
      opacity: 1
      @include transform(translateX(0))
  main
    section
      svg#show-room
        display: none
      &.fonts
        nav
          .tools
            .apperance
              +span-columns(3)
            .wished
              +span-columns(1)
              +shift(0)
              +omega
              span.wish
                +transform(translateY($tiny-spacer))
  header.main
    h1, nav
      +span-columns(2)
      +omega(2)
    nav
      +transform(translateX(0))
      opacity: 1
      a
        +span-columns(2 of 4)
    #wished
      +span-columns(4)
      +shift(0)
      +omega(1)
      margin-bottom: 1rem
      span
        +span-columns(2 of 4)
        +shift(1)
        +omega(1)
  main
    section
      &.fonts
        nav
          h3
            font-size: 9rem
      &.font-header
        header
          +pad($tiny-spacer 0 $tiny-spacer)
          h2
            +span-columns(4)
            a
              img
                width: $small-spacer
          nav
            +span-columns(4)
            a
              +span-columns(1 of 4)
              +omega(4)
              margin-top: $tiny-spacer
  section.wished-box
    header
      +span-columns(4)
      h2
        +span-columns(4)
        +shift(0)
      a
        +span-columns(2 of 4)
        +omega(2)
        +pad(1rem 0)
        &:nth-child(2)
          border: none
        &:nth-child(3)
          +shift(0)
    .contact-form
      +span-columns(4)
      +shift(0)
      input
        +span-columns(2 of 4)
        +shift(1)
        +omega(2)
        &.check-offer
          +span-columns(2 of 4)
          +shift(1)
+media($phone-landscape)
  html
    font-size: modular-scale(-2, 16px)
  body
    min-width: 53rem
  main
    section
      &.fonts
        nav
          h3
            font-size: 4rem
+media($phone-portrait)
  body
    min-width: 35rem
  main
    section
      &.fonts
        nav
          h3
            font-size: 5rem
