//= require normalize-css/normalize
//= require awesomplete/awesomplete

@import "bourbon";
@import "neat";

@import "base/base";
@import "_partials/animations";

// colors
$yellow: #fffd38;
$black: #111;
$white: #fff;
$blue: #2cfefe;
$grey: lighten($black, 60);

// fonts
@include font-face(VeganSans, '../fonts/Vegan_Regular', normal);
@include font-face(VeganSans, '../fonts/Vegan_Bold', bold);
@include font-face(VeganSans, '../fonts/Vegan_Black', 900);

body {
  min-width: 64rem;
  margin: auto;
  transition-property: background-color;
  transition-duration: 200ms;

  * {
    font-family: VeganSans;
  }
}

header {
  @include row;
  margin-top: 1rem;

  h1 {
    @include span-columns(2);
    text-align: center;
    z-index: 10;

    a {
      font-size: modular-scale(1, 1rem);
      display: block;
      color: $black;

      &:hover {
        color: $black;
      }
    }
  }

  nav {
    @include span-columns(3);
    transform: translateX(-200px);
    transition-property: transform, opacity;
    transition-duration: 300ms;
    opacity: 0;
    z-index: 10;

    &.visible {
      transform: translateX(0px);
      opacity: 1;
    }
    a {
      @include span-columns(1 of 3);
      text-align: center;
      color: $black;

      &:hover {
        color: $black;
      }
    }
  }

  #cart {
    @include span-columns(2);
    @include shift(5);
    text-align: center;
    a {
      display: inline-block;
      background-color: $blue;
      color: $black;
      border-radius: 1rem;
      padding: 0.15rem 0.5rem 0.075rem 0.5rem;
    }
  }
}

main {
  section {
    @include span-columns(12);

    svg {
      @include span-columns(12 of 12);
      height: 50rem;
      width: 64rem;
      margin: auto;
    }


    &.font-list {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 750ms;

      nav {
        .tools {
          font-size: 1rem;

          span {
            display: inline-block;
            padding: 0.125rem;

            &.minus {
              font-size: 0.75rem;
            }

            &.plus {
              font-size: 1.25rem;
            }

          }
        }

        h3 {
          @include span-columns(12);
          background: $white;
          font-size: 4rem;
          font-weight: normal;
          margin-bottom: 0.125rem;
          padding: 1rem 0 0 1rem;
          border-bottom: thin solid $grey;

          a {
            color: black;
          }
        }
      }
    }

    &.font-header {
      border-bottom: thin solid lighten($black, 50);
      h2 {
        font-size: 3rem;
        font-weight: normal;
        margin: 1rem 0;
      }

      nav {
        a {
          @include span-columns(1);
          color: $black;
          text-align: center;
        }
      }
    }

    &.font-styles {
      ul {
        li {
          @include span-columns(12);
          background: $white;
          margin-bottom: 0.125rem;
          padding: 1rem 0 0 1rem;

          a {
            color: black;
          }

          h3 {
            font-size: 8rem;
          }
        }
      }
    }
  }

}

