//= require normalize-css/normalize
//= require awesomplete/awesomplete

@import 'bourbon';
@import 'neat';
@import 'bitters';

// colors
$yellow: #fffd38;
$black: #000;
$white: white;
$grey: rgba(222, 222, 222, 0.9);
$shadow-grey: $grey;
$bottom-shadow: 0px 6px 6px 3px $shadow-grey;
$full-width: 80rem;
$header-height: 7rem;
$page-header-height: 10rem;
$small-margin: 1.25rem;
$border-radius: 0.25rem;
$bigger-font: 2rem;
$item-pad: 0.5rem 1rem;

// fonts
@include font-face(Vegan, '../fonts/Vegan_Regular', normal);
@include font-face(Vegan, '../fonts/Vegan_Bold', bold);
@include font-face(Vegan, '../fonts/Vegan_Black', 900);

@mixin main-row {
  @include row;
  @include pad(2rem 2rem 1rem 2rem);
}


body {
  background: $grey;
  * {
    font-family: Vegan;
  }
}

#container {
  @include outer-container;
  max-width: $full-width;
  background: $white;
  margin: $small-margin auto;

  & > * > * {
  }

  header {
    @include main-row;
    background: $yellow;
    color: $black;
    min-height: $header-height;
    box-shadow: $bottom-shadow;

    h1 {
      font-size: 1.75rem;
      font-family: Vegan;
      font-weight: 900;
      padding: 0.5rem 1rem;

      a {
        color: $black;
      }
    }

    nav {
      float: right;

      a {
        color: $black;
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: 0 1rem;

        &.active {
          border-radius: $border-radius;
          background: $grey;
        }

        &.cart {
          border: 0.1rem solid $black;
          border-radius: $border-radius $border-radius 0 0;
          margin: 0 1rem;
          width: 13rem;
          text-align: center;

          &:hover {
            font-weight: 900;
          }
        }
      }
    }

    form {
      float: right;

      input {
        border-radius: 2 * $border-radius;
        border: thin solid $yellow;
        font-size: 1.75rem;
        padding: 0.5rem 1rem;
        margin: 0 1rem;
      }
    }
  }

  section {
    font-family: Vegan;
    font-weight: normal;

    & .header {
      @include main-row;
      min-height: $page-header-height;
      box-shadow: $bottom-shadow;

      h2 {
        font-size: 6rem;
        font-weight: normal;
      }

      a.buy-family {
        color: $black;
        display: block;
        border-radius: $border-radius;
        background: #2dfffe;
        padding: 1.5rem 1rem 1rem;
        margin: 1.25rem 0 0 0;
        font-size: $bigger-font;
        float: right;
      }
    }

    nav {
      box-shadow: $bottom-shadow;
      padding: 1.75rem 3rem 1.75rem;
      min-height: $header-height;

      a {
        color: $black;
        display: inline-block;
        padding: $item-pad;
        margin: 0 1rem;

        &.active {
          border: thin solid $black;
          border-radius: $border-radius;
        }

        &.share {
          font-size: $bigger-font;
          margin-left: 3rem;
        }
      }
    }

    ul.styles {
      li {
        box-shadow: $bottom-shadow;
        min-height: $page-header-height;

        h3 {
          padding: 4rem 4rem 3rem;
          font-size: 3.5rem;
        }

        a.buy-style, span.price {
          @include pad(1rem);
          margin: 1.5rem 0 0 0;
          float: right;
          display: inline-block;
          color: black;
        }
      }
    }

    ul.fonts {
      li {
        box-shadow: $bottom-shadow;
      }

      h3 {
        padding: 3rem 3rem;
        font-size: 5rem;
        font-weight: normal;

        a {
          color: $black;
        }
      }
    }

    &.animation {
      margin: 4rem 0 0;

      a {
        display: block;
        color: $black;
      }
    }

    .show-room {
      & > div {
        text-align: center;
      }

      .to-animate {
        background: $black;
        color: $white;
        height: 44rem;
        padding: 3rem;

        span {
          font-size: 10rem;
          line-height: 1.25em;
          display: inline-block;
          @include transition-property(all);
          @include transition-duration(1.0s);
          @include transition-timing-function(ease-in);

          &:first-child.initial {
            @include transform(translate(2.25em, 0em) rotate(-10deg));
          }

          &:nth-child(2).initial {
            @include transform(translate(-3em, 0.5em) rotate(10deg));
          }

          &:nth-child(3).initial {
            @include transform(translate(1.25em, 1em) rotate(-25deg));
          }

          &:nth-child(4).initial {
            @include transform(translate(1.5em, 1em) rotate(-65deg));
          }

          &.offscreen {
            @include transform(translate(0em, 1em) scale(0));
          }
        }

      }

      div#controls {
        background: $black;
        color: $white;
        height: 4rem;
        text-align: right;

        a {
          display: inline-block;
          padding: 1rem;
          font-weight: bold;
          font-size: 2rem;
        }
      }

      .large {
        font-size: 8rem;
        font-weight: 900;
        line-height: 1.5em;
      }

      .thin {
        font-size: 6rem;
        font-weight: normal;
        line-height: 1.5em;
      }

      .tall {
        font-size: 14rem;
        font-weight: normal;
        font-style: italic;
        line-height: 1.5em;
      }

      .small {
        font-size: 8rem;
        font-weight: normal;
        line-height: 1.5em;
      }
    }

  }

  footer {
    @include pad(1rem);
    font-size: 0.75rem;
  }
}
