=wished
  display: inline-block
  padding: 0.25rem 1rem
  font-family: VeganSans
  cursor: pointer
  background-color: $white
  border-radius: 1rem
  color: $black

=font-weights
  .hair
    font-weight: 100
  .thin
    font-weight: 200
  .light
    font-weight: 300
  .regular
    font-weight: normal
  .medium
    font-weight: 500
  .bold
    font-weight: bold
  .semibold
    font-weight: 600
  .italic
    font-style: italic
  .black
    font-weight: 800

=white-hover
  &:hover
    border-radius: 1rem
    background-color: $white
    color: $black
    cursor: pointer
=grey-hover
  &:hover
    border-radius: 1rem
    background-color: $dark-grey
    color: $black
    cursor: pointer
=black-hover
  &:hover
    border-radius: 1rem
    background-color: $black
    color: $white
    cursor: pointer
=default-pad
  +pad($default-spacer)
=small-pad
  +pad($small-spacer)
=button-pad
  +pad(0.35rem $tiny-spacer)
=high-button-pad
  +pad(0.5rem $tiny-spacer)
=higher-button-pad
  +pad(0.75rem $small-spacer)
=invisible
  display: none
=visible-block
  display: block
=mobile-h2
  +visible-block
  font-weight: normal
  border-bottom: thin solid $grey
  margin-bottom: $small-spacer
=smaller-font
  font-size: $smaller-size
=default-font
  font-size: $default-size
=bigger-font
  font-size: $bigger-size
=big-font
  font-size: $big-size
=larger-font
  font-size: $larger-size
=large-font
  font-size: $large-size
=huge-font
  font-size: $huge-size
=epic-font
  font-size: $epic-size
