=wished
  display: inline-block
  padding: 0.25rem 1rem
  font-family: VeganSans
  cursor: pointer
  background-color: $white
  border-radius: 1rem
  color: $black

=font-weights
  .hair
    font-weight: 100
  .thin
    font-weight: 200
  .light
    font-weight: 300
  .regular
    font-weight: normal
  .medium
    font-weight: 500
  .bold
    font-weight: bold
  .semibold
    font-weight: 600
  .italic
    font-style: italic
  .black
    font-weight: 800

=white-hover
  &:hover
    border-radius: 1rem
    background-color: $white
    color: $black
    cursor: pointer
=grey-hover
  &:hover
    border-radius: 1rem
    background-color: $dark-grey
    color: $black
    cursor: pointer
=black-hover
  &:hover
    border-radius: 1rem
    background-color: $black
    color: $white
    cursor: pointer
=default-pad
  +pad($default-spacer)
=small-pad
  +pad($small-spacer)
=button-pad
  +pad(0.25rem $tiny-spacer)
=high-button-pad
  +pad(0.5rem $tiny-spacer)
