=cart
  display: inline-block
  padding: 0.25rem 0.5rem
  font-family: VeganSans
  cursor: pointer
  background-color: $blue
  border-radius: 0.25rem
  color: $red

=font-weights
  .light
    font-weight: 300
  .regular
    font-weight: normal
  .medium
    font-weight: 500
  .bold
    font-weight: bold
  .semibold
    font-weight: 600
  .italic
    font-style: italic
  .black
    font-weight: 800

