// colors
$yellow: #fffd38
$black: #000
$white: #fff
$blue: #2cfefe
$dark-blue: darken($blue, 50)
$grey: #b3b3b3
$dark-grey: lighten($black, 33.3)
$light-grey: darken($white, 20)
$red: #f00
$light-green: #00ffa0
$violet: #4600a0

// sizes
$huge-spacer: 6rem
$default-spacer: 3rem
$small-spacer: 2rem
$tiny-spacer: 1rem
$half-tiny-spacer: $tiny-spacer/2
$quarter-tiny-spacer: $tiny-spacer/4

// font-sizes
$smaller-size: modular-scale(-1, 1rem)
$default-size: 1rem
$bigger-size: modular-scale(1, 1rem)
$big-size: modular-scale(2, 1rem)
$larger-size: modular-scale(3, 1rem)
$large-size: modular-scale(4, 1rem)
$huge-size: modular-scale(5, 1rem)
$epic-size: modular-scale(6, 1rem)

// delays
$small-delay: 250ms
$medium-delay: 750ms
$long-delay: 2500ms

// borders
$thin-border: solid thin $black
