// colors
$yellow: #fffd38
$black: #111
$white: #fff
$blue: #2cfefe
$grey: lighten($black, 75)
$darkgrey: lighten($black, 33.3)
$red: #f00
$light-green: #00ffa0

// sizes
$default-spacer: 3rem
$small-spacer: 2rem
