// colors
$yellow: #fffd38
$black: #000
$white: #fff
$blue: #2cfefe
$dark-blue: darken($blue, 50)
$grey: #b3b3b3
$dark-grey: lighten($black, 33.3)
$light-grey: lighten($black, 85)
$red: #f00
$light-green: #00ffa0

// sizes
$default-spacer: 3rem
$small-spacer: 2rem

// delays
$small-delay: 250ms
$medium-delay: 750ms
$long-delay: 2500ms
