// fonts
@include font-face(KundaBook, '../fonts/Kunda_Book_Regular', normal, $file-formats: woff);
@include font-face(KundaBook, '../fonts/Kunda_Book_Italic', normal, italic, $file-formats: woff);
@include font-face(KundaBook, '../fonts/Kunda_Book_Medium', 500, $file-formats: woff);
@include font-face(KundaBook, '../fonts/Kunda_Book_Medium_Italic', 500, italic , $file-formats: woff);
@include font-face(KundaBook, '../fonts/Kunda_Book_Semibold', 600, $file-formats: woff);
@include font-face(KundaBook, '../fonts/Kunda_Book_Semibold_Italic', 600, italic, $file-formats: woff);
@include font-face(KundaBook, '../fonts/Kunda_Book_Bold', bold, $file-formats: woff);
@include font-face(KundaBook, '../fonts/Kunda_Book_Bold_Italic', bold, italic, $file-formats: woff);

@include font-face(VeganSans, '../fonts/Vegan_Sans_Light', 300, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Light_Italic', 300, italic, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Regular', normal, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Italic', normal, italic, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Medium', 500, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Medium_Italic', 500, italic, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Semibold', 600, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Semibold_Italic', 600, italic, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Bold', bold, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Bold_Italic', bold, italic, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Black', 800, $file-formats: woff);
@include font-face(VeganSans, '../fonts/Vegan_Sans_Black_Italic', 800, italic, $file-formats: woff);

@include font-face(Kendo, '../fonts/Kendo', normal, $file-formats: woff);
@include font-face(Signer, '../fonts/Signer', normal, $file-formats: woff);
@include font-face(Tungsten, '../fonts/Tungsten', normal, $file-formats: woff);
@include font-face(Negramot, '../fonts/Negramot_Regular', normal, $file-formats: woff);

.vegan-sans * {
  font-family: VeganSans;
}

.kunda-book * {
  font-family: KundaBook;
}

.hrot * {
  font-family: Hrot;
}

.kendo * {
  font-family: Kendo;
}

.signer * {
  font-family: Signer;
}

.tungsten * {
  font-family: Tungsten;
}

.negramot * {
  font-family: Negramot;
}


