---
title: 'Hrot'
id: 'hrot'
styles:
  - 'Hrot Hair'
  - 'Hrot Hair Italic'
  - 'Hrot Thin'
  - 'Hrot Thin Italic'
  - 'Hrot Light'
  - 'Hrot Light Italic'
  - 'Hrot Regular'
  - 'Hrot Italic'
  - 'Hrot Medium'
  - 'Hrot Medium Italic'
  - 'Hrot Semibold'
  - 'Hrot Semibold Italic'
  - 'Hrot Bold'
  - 'Hrot Bold Italic'
  - 'Hrot Black'
  - 'Hrot Black Italic'
glyphs: 'Dodat!!!'
details: 'Dodat!!!'
previous: 'vegan-sans'
next: 'kunda-book'
---
= partial 'font_header'

= partial 'font_page'
