---
name: 'Hrot'
id: 'hrot'
styles:
  - 'Hrot Hair'
  - 'Hrot Hair Italic'
  - 'Hrot Thin'
  - 'Hrot Thin Italic'
  - 'Hrot Light'
  - 'Hrot Light Italic'
  - 'Hrot Regular'
  - 'Hrot Italic'
  - 'Hrot Medium'
  - 'Hrot Medium Italic'
  - 'Hrot Semibold'
  - 'Hrot Semibold Italic'
  - 'Hrot Bold'
  - 'Hrot Bold Italic'
  - 'Hrot Black'
  - 'Hrot Black Italic'
glyphs: 'Dodat!!!'
details: '
The font type Hrot was inspired by the visual typographic aesthetic of the advertisements and signs in the seventies of the twentieth century, namely in the German or Italian environment. The design of the font is characteristically and pleasingly wide. Thanks to sharp, cropped lines the characters appear almost as sharpened knives, especially in bold faces. This design principle is more of an unconventional impression than a mere cold structure. The letters are drawn from the ultra thin face Hair to the extremely thick bold face Black. The family encompasses a total of sixteen faces. Thanks to this, Hrot is very well suited for setting striking captions and non-conformist web pages.
'
previous: 'vegan-sans'
next: 'kunda-book'
---
= partial 'font_header'

= partial 'font_page'
