---
title: 'Kunda Book'
id: 'kunda-book'
styles:
  - 'Kunda Book Regular'
  - 'Kunda Book Italic'
  - 'Kunda Book Medium'
  - 'Kunda Book Medium Italic'
  - 'Kunda Book Semibold'
  - 'Kunda Book Semibold Italic'
  - 'Kunda Book Bold'
  - 'Kunda Book Bold Italic'
glyphs: Dodat!!!
details: '
  Dodat!!!'
previous: 'hrot'
next: 'vegan-sans'
---
= partial 'font_header'

= partial 'font_page'

