---
name: 'Vegan Sans'
id: 'vegan-sans'
styles:
  - 'Vegan Sans Light'
  - 'Vegan Sans Light Italic'
  - 'Vegan Sans Regular'
  - 'Vegan Sans Italic'
  - 'Vegan Sans Medium'
  - 'Vegan Sans Medium Italic'
  - 'Vegan Sans Semibold'
  - 'Vegan Sans Semibold Italic'
  - 'Vegan Sans Bold'
  - 'Vegan Sans Bold Italic'
  - 'Vegan Sans Black'
  - 'Vegan Sans Black Italic'
glyphs: 848
details: '
The inspiration source for the Vegan was the Vega type, drawn by the Czech typographer and font designer Stanislav Maršo. The original design used highly shaded character design with a lightly extended duct.

As the type needs to be used both for displays and texts, some radical changes in the drawing design and structure were necessary; I achieved this by optical thinning and darker shading of individual characters.

The result is a type that saves space when longer texts are being set and, thanks to the shading, is perfectly legible even in smaller sizes and, in caption sizes, unmistakable in appearance.
'
previous: 'kunda-book'
next: 'hrot'
---
= partial 'font_header'

= partial 'font_page'
