---
title: 'Vegan Sans'
id: 'vegan-sans'
styles:
  - 'Vegan Sans Light'
  - 'Vegan Sans Light Italic'
  - 'Vegan Sans Regular'
  - 'Vegan Sans Italic'
  - 'Vegan Sans Medium'
  - 'Vegan Sans Medium Italic'
  - 'Vegan Sans Semibold'
  - 'Vegan Sans Semibold Italic'
  - 'Vegan Sans Bold'
  - 'Vegan Sans Bold Italic'
  - 'Vegan Sans Black'
  - 'Vegan Sans Black Italic'
glyphs: 848
details: '
Vegan Sans is a modern, structured sans featuring delicate, humanist elements.  the
distinctive shadow font Vega, which was created by Czech typographer Stanislav
Maršo in the 1960s, was a source of inspiration for the designer.

The overall skeleton of the typeface is pleasantly optically narrowed and
features a slight shadow. as a result of these characteristics, Vegan is a
practical font that appears fresh and new. the font family contains six styles,
from Light to Black and the corresponding italics. It can be used to set long
texts, news papers and magazines, but is also perfect for large, striking
headlines and posters.'
previous: 'kunda-book'
next: 'hrot'
---
= partial 'font_header'

= partial 'font_page'
